<!--CLASE QUE DEL PRODUCTO-->

<div class="product" {{#if options}}products--with-options{{/if}}>

    <!--<header class="product__header">
        <h1 class="product__tittle"> {{ tittle }} </h1>
    </header>-->

    <section class="product">
        <div class="product__img">
            <img class="product__imgBi" src="{{ img }}" alt="">
            <div class="product__imgPe">
                <img class="product__img2" src="{{ img2 }}" alt="">
                <img class="product__img3" src="{{ img3 }}" alt="">
            </div>
        </div>
        <div class="product2">
            <h1 class="product2__tittle"> {{ tittle }} </h1>
            <h3 class="product2__name"> {{ name }}</h3>
            <!--BUTTON PARA QUE LLEVE A LA PANTALLA DEL PRODUCTO EN ESPECIFICO-->
            <p class="product2__description"> {{ description }} </p>
            <div class="product2__block">
                <div class="product2__blockText">
                    <p class="product2__blockTextDescription2"> {{ description2 }}</p>
                    <p class="product2__blockTextPrice">{{ price }}</p>
                </div>
                <button class="product2__blockAdd" data-img="{{ img }}" data-id="{{ _id }}" data-name="{{ tittle }}"
                    data-price="{{ price }}" > Add to car </button>
                <!--Price-->
                {{#if freeShipping}}
                <!--si tiene envio gratis se muestra esto-->
                <h3 class="product2__blockShipping">You have free shipping!</h3>
                {{#each freeShipping}}
                <p>{{ this }}</p>
                {{/each}}
                <!--si no tiene envio gratis se muestra esto-->
                {{else}}
                <h3 class="product2__blockShipping">You don't have free shipping!</h3>
                {{/if}}
            </div>
        </div>


    </section>

    <!--formas de hacerlo más interesante-->

    <!--Options
si tiene opciones disponibles se muestra esto
{{#if options}}
<h3>tiene opciones disponibles</h3>
{{#each options}}
<p>{{ this }}</p>
{{/each}}
si no tiene opciones disponibles se muestra esto
{{else}}
<h3>no tiene opciones disponibles</h3>
{{/if}}-->


    <!--Variations
    {{#if variations}}
    <h3>Tiene Variaciones</h3>
    <ol>
        Renderizar lista de productos
        {{#each variations}}
        <li>
            {{name}} <strong> {{price}}</strong>
        </li>
        {{/each}}
    </ol>
    {{/if}}-->





</div>