<!--CLASE DE LA TIENDA-->

<!--Imagen de header
<header class="shopHeader">
    <img class="shopHeader__img" src="{{ img }}" alt="">
</header>-->


<body>

    <section class="shopPic">
            <img class="shopPic__imagen" src="/img/img2/shop.jpg" alt="">
    </section>


    <!--Filtros-->
    <nav>
        Filter by price
        <select>
            <option value="" disabled="true" selected="true">Choose an option</option>
            <option value="less_16">Less than 16</option>
            <option value="more_16">More than 16</option>
        </select>
    </nav>
    <!--shop-->
    <section class="shop">
        <div class="shop__shineshop">
            <div class="shop__square">Shop
                <hr class="shop__line">
            </div>
        </div>
    </section>

    <!--PARA QUE SE VEAN LOS PRODUCTOS EN LA TIENDA-->
    <section>
        <h2>Lista de productos</h2>
        <main class="productList">
            {{#each products}}
            <!--recorrer el arreglo de producto-->
            <!--Un div es un producto-->
            <!--para que se vea la imagen y el precio de cada producto-->
            <div class="thumb">
                <img class="thumb__img" src="{{ img }}" alt="">
                <h1 class="thumb__tittle"> {{ tittle }} </h1>
                <h3 class="thumb__name"> {{ name }}</h3>
                <p>{{ price }}</p>
                <!--BUTTON PARA QUE LLEVE A LA PANTALLA DEL PRODUCTO EN ESPECIFICO-->
                <a href="/product/{{tittle}}/{{id}}" class="thumb__button">View more</a>
            </div>
            {{/each}}
        </main>
    </section>

<script src="/scripts/client.js"></script>
</body>

<!--filtros
<section>  
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Shadows</th>
            <th>Lips</th>
            <th>Tools</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        {{#each product}}
        <tr>
            <td>{{ @index }} </td>
            <td>{{ Shadows }} </td>
            <td>{{ Lips }} <td>            
            <td>{{ Tools }} </td> 
            <td>{{ Body }} </td>  
                             
        </tr>
        {{/each}}
    </tbody>
</table>
</section>-->