<!--CLASE DE LA TIENDA-->

<body>

    {{!-- IMAGEN  
    <section class="shopPic">
        <img class="shopPic__imagen" src="/img/img2/shop.jpeg" alt="">
    </section>--}}

    <!--shop-->
    <section class="shop">
        <div class="shop__shineshop">
            <div class="shop__square">Shop
                <hr class="shop__line">
            </div>
        </div>
    </section>

    <section class="content_product">

        {{!-- FILTROS --}}
        <section class="filterside">
            <h2 class="filterside__name">Filters</h2>
            <hr class="filterside__line">
            {{!-- NAME --}}
            <h3 class="filterside__typeProduct">Type</h3>
            <ul class="filterside__ul">
                <a class="filterside__link" href="?name=Shadows">
                    <ul>
                        Shadows
                    </ul>
                </a>
                <a class="filterside__link" href="?name=Lips">
                    <ul>
                        Lips
                    </ul>
                </a><a class="filterside__link" href="?name=Skin">
                    <ul>
                        Skin
                    </ul>
                </a><a class="filterside__link" href="?name=Mascara">
                    <ul>
                        Mascara
                    </ul>
                </a>
            </ul>

            {{!-- RATING --}}
            <h3 class="filterside__titlerating">Rating</h3>
            <ul class="filterside__ul">
                <a class="filterside__link" href="?rating_1=1">
                    <ul>1 Star</ul>
                </a>
                <a class="filterside__link" href="?rating_2=2">
                    <ul>2 Stars</ul>
                </a>
                <a class="filterside__link" href="?rating_3=3">
                    <ul>3 Stars</ul>
                </a>
                <a class="filterside__link" href="?rating_4=4">
                    <ul>4 Stars</ul>
                </a>
                <a class="filterside__link" href="?rating_5=5">
                    <ul>5 Stars</ul>
                </a>
            </ul class="filterside__ul">

            {{!-- FREESHIPPING --}}
            <h3 class="filterside__titlefree">Advantages</h3>
            <ul class="filterside__ul">
                <a class="filterside__link" href="?priceFreeShipping=16">
                    <ul>FreeShipping</ul>
                </a>
            </ul>

        </section>


        {{!-- PRODUCTOS --}}
        <!--PARA QUE SE VEAN LOS PRODUCTOS EN LA TIENDA-->
        <section>
            <!--Orders-->
            <nav class="orders">
                Ordinances
                <select class="orders__class">
                    <!--Menor-->
                    <option value="" disabled="true" selected="true">Choose an option</option>
                    <option value="16">Less than 16</option>
                    <option value="20">Less than 20</option>
                    <hr class="orders__classLineProduct">
                </select>
                <br>

            </nav>
            {{!-- lista de productos --}}
            {{!-- <h2 class="list">List of products</h2> --}}
            <main class="productList">
                {{#each products}}
                <!--recorrer el arreglo de producto-->
                <!--Un div es un producto-->
                <!--para que se vea la imagen y el precio de cada producto-->
                <div class="thumb">
                    <img class="thumb__img" src="{{ img }}" alt="">
                    <h1 class="thumb__tittle"> {{ tittle }} </h1>
                    <h3 class="thumb__name"> {{ name }}</h3>
                    <p class="thumb__rating">{{ rating }} Stars⭐ </p>
                    <p class="thumb__number">{{ price }}</p>
                    <!--BUTTON PARA QUE LLEVE A LA PANTALLA DEL PRODUCTO EN ESPECIFICO-->
                    <div class="thumb__vibu">
                        <div class="thumb__vibuView">
                            <a href="/product/{{tittle}}/{{_id}}">View more</a>
                        </div>
                        <!--Add to car-->
                        <button class="thumb__vibuButton" data-img="{{ img }}" data-id="{{ _id }}"
                            data-name="{{ tittle }}" data-price="{{ price }}" > Add to car </button>
                    </div>
                </div>
                {{/each}}
            </main>

        </section>
    </section>
    <script src="/scripts/client.js"></script>
</body>

<!--filtros
<section>  
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Shadows</th>
            <th>Lips</th>
            <th>Tools</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        {{#each product}}
        <tr>
            <td>{{ @index }} </td>
            <td>{{ Shadows }} </td>
            <td>{{ Lips }} <td>            
            <td>{{ Tools }} </td> 
            <td>{{ Body }} </td>  
                             
        </tr>
        {{/each}}
    </tbody>
</table>
</section>-->